{% extends 'base.html.twig' %}

{% block title %}DemandeTitreVehicule index{% endblock %}

{% block body %}
    <h1>DemandeTitreVehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Validated_at</th>
                <th>Ip</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_titre_vehicule in demande_titre_vehicules %}
            <tr>
                <td>{{ demande_titre_vehicule.id }}</td>
                <td>{{ demande_titre_vehicule.createdAt ? demande_titre_vehicule.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande_titre_vehicule.validatedAt ? demande_titre_vehicule.validatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande_titre_vehicule.ip }}</td>
                <td>
                    <a href="{{ path('app_demande_titre_vehicule_show', {'id': demande_titre_vehicule.id}) }}">show</a>
                    <a href="{{ path('app_demande_titre_vehicule_edit', {'id': demande_titre_vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demande_titre_vehicule_new') }}">Create new</a>
{% endblock %}
