{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}


{% block container %}
    <div class="container-title">Gestion des utilisateurs</div>
<link rel="stylesheet" href="{{ asset('css/bootstrapTable.css') }}">
<link rel="stylesheet" href="{{ asset('css/customContainer.css') }}">
<link rel="stylesheet" href="{{ asset('css/tablefiltercontrol.css') }}">
<link rel="stylesheet" href="{{ asset('css/customNav.css') }}">

<nav class="navbar navbar-expand-lg bg-khaki underdev" style="background: yellowgreen">
    <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_user_index') }}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_admin_dashboard_demande') }}">Demandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_produit_index') }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_admin_dashboard_history') }}">Historique de connexion</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_mail_appli_index') }}">Gestion des emails</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_admin_dashboard') }}">Tableau de bord</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_home') }}">Quitter la page d'administration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="min-width: 90vh;">
    <div class="col-12">
        <table class="table table-hover" data-pagination="true" data-toggle="table" data-filter-control="true" data-click-to-select="true" data-auto-refresh="true">
            <thead>
                <tr>
                    <th data-field="email" data-filter-control="input" data-sortable="true">Email</th>
                    <th data-field="roles" data-filter-control="select" data-sortable="true">Roles</th>
                    <th data-field="IsVerified" data-filter-control="select" data-sortable="true">Verifié</th>
                    <th data-field="IsReferentVerified" data-filter-control="select" data-sortable="true">Verifié par le referent sécurité</th>
                    <th data-field="createdAt" data-filter-control="input" data-sortable="true">Date de création</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for roles in user.roles %}
                            {{ roles|trans }}
                            {% if not loop.last %}/ {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                    <td>{{ user.isReferentVerified ? 'Oui' : 'Non' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                    <td class="d-flex justify-content-start">
                        <a class="btn btn-cleo me-2" href="{{ path('app_user_edit', {'id': user.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-cleo me-2" href="{{ path('app_user_show', {'id': user.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        </a>
                        <a class="btn btn-cleo me-2" href="{{ path('app_home', app.request.query.all | merge({'_switch_user': user.email })) }}">
                            <i class="fa fa-user"></i>
                        </a>
                        {%  if (user.hasMfaStrategy('totp')) %}
                            <a class="btn btn-cleo me-2" href="{{ path('qr_code_totp_user', {'user': user.id}) }}">
                                <i class="fa fa fa-qrcode"></i>
                            </a>
                        {% endif %}
                        {%  if (user.hasMfaStrategy('google')) %}
                            <a class="btn btn-cleo me-2" href="{{ path('qr_code_ga_user', {'user': user.id}) }}">
                                <i class="fa-brands fa-square-google-plus"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{{ asset('js/jqueryTable.js') }}"></script>
<script src="{{ asset('js/bootstrapTable.js') }}"></script>
<script src="{{ asset('js/bootstrap-table.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-table-filter-control.min.js') }}"></script>
<script src="{{ asset('js/bootstrapTableFR.min.js') }}"></script>
{% endblock %}