{% extends 'base.html.twig' %}

{% block title %}{{ entity }} Form{% endblock %}

{% block body %}
    <h1>{{ entity }} Form</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
