{% extends 'base.html.twig' %}

{% block title %}Accueil | Fluxel{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
<header>
    <div class="container-fluid bg-cleo p-3 d-flex justify-content-center border-bottom border-bottom-dark shadow-sm">
        <h2 class="titlesmartphone fw-bold text-center">Demande de création de titre de circulation pour les personnes pénétrant dans les installations portuaires de Lavera et de Fos exploitées par Fluxel SAS</h2>
    </div>
</header>
<body class="overflow-x-hidden overflow-y-hidden" id="bg-pattern">
    <div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="container">
            <div class="text-center mt-5 mb-5 p-3 border border-dark-subtle rounded content"  style="background: #f9f9f9; box-shadow: 0px 15px 20px rgba(0,0,0,0.1);">
                <img class="img-fluid resizeimg pb-3 pt-3" src="/img/logo.png" alt="Logo">
                <div class="container text-center">
                    <a class="btn btn-primary btn-lg m-3" href="{{ path('app_demande_sdri') }}">Gestion des demandes de titre de circulation</a>
                    <a class="btn btn-dark btn-lg m-3" href="{{ path('app_entreprise_new') }}">Ajout d'entreprise</a>
                </div>
                <div class="row d-flex justify-content-evenly">
                    {% if app.user.hasRole('ROLE_SDRI') %}
                        <a class="btn btn-secondary btn-lg m-3 col-3" href="{{ path('app_home') }}">Quitter le mode SDRI</a>
                    {% endif %}
                </div>
            </div>
        {% if app.user %}
            <div class="text-center">
                <h4>Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" href="{{ path('app_logout') }}">Déconnexion</a></h4>
                <h5>et vous êtes en mode <span class="fw-bold">Service SDRI</span></h5>
            </div>
        {% endif %}
        </div>
    </div>
    <script src="{{ asset('js/indexstyle.js') }}"></script>
</body>
{% endblock %}
