<link rel="stylesheet" href="{{ asset('css/mainform.css') }}">
{# <header>
    <div class="container-fluid fixed-top bg-cleo p-2 ps-4 text-center d-flex flex-wrap border-bottom border-bottom-dark shadow-sm">
        <img class="" src="{{ asset('/img/logo.png') }}" alt="" width="120" height="60">
    </div>
</header> #}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container">
        <nav class="d-flex justify-content-center" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-underline link-underline-opacity-0" {% if intervention.id is defined %} href="{{ path('app_intervention_edit', {'id': intervention.id}) }}" {% endif %}>Intervention</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="link-underline link-underline-opacity-0" {% if etatCivil.id is defined %} href="{{ path('app_etat_civil_edit', {'id': etatCivil.id}) }}" {% endif %}>Etat Civil</a></li>
                <li class="breadcrumb-item active"><a class="link-underline link-underline-opacity-0" {% if filiation.id is defined %} href="{{ path('app_filiation_edit', {'id': filiation.id}) }}" {% endif %}>Filiation</a></li>
                <li class="breadcrumb-item active"><a class="link-body-emphasis link-underline link-underline-opacity-0" {% if adresse.id is defined %} href="{{ path('app_adresse_edit', {'id': adresse.id}) }}" {% endif %}>Adresse</a></li>
                <li class="breadcrumb-item active"><a class="link-underline link-underline-opacity-0" {% if infoComplementaire.id is defined %} href="{{ path('app_info_complementaire_edit', {'id': infoComplementaire.id}) }}" {% endif %}>Information Complementaire</a></li>
                <li class="breadcrumb-item active"><a class="link-underline link-underline-opacity-0" {% if documentPersonnel.id is defined %} href="{{ path('app_document_personnel_edit', {'id': documentPersonnel.id}) }}" {% endif %}>Document Personnel</a></li>
                <li class="breadcrumb-item active"><a class="link-underline link-underline-opacity-0" {% if documentProfessionnel.id is defined %} href="{{ path('app_document_professionnel_edit', {'id': documentProfessionnel.id}) }}" {% endif %}>Document professionnel</a></li>
                {% if intervention.id is defined and intervention.id is not null and etatCivil.id is defined and etatCivil.id is not null and  filiation.id is defined and filiation.id is not null and  adresse.id is defined and adresse.id is not null and  infoComplementaire.id is defined and infoComplementaire.id is not null and documentPersonnel.id is defined and documentPersonnel.id is not null and documentProfessionnel.id is defined and documentProfessionnel.id is not null %}
                        <li class="breadcrumb-item" aria-current="page"><a class="link-underline link-underline-opacity-0"  href="{{ path('app_demande_titre_circulation_edit', {'id': demande.id}) }}">Récapitulatif</a></li>
                {% else %}
                    <li class="breadcrumb-item" aria-current="page"><a class="link-underline link-underline-opacity-0">Récapitulatif</a></li>
                {% endif %}
            </ol>
        </nav>
        <div class="border border-dark-subtle rounded-top info-form">
            <div class="col-12 bg-cleo rounded-top p-0 m-0 h5">
                <p class="p-3">Adresse</p>
            </div>
            {{ form_start(form) }}
            <div class="row p-3">
                <div class="col-12">
                    <div class="p-3 row">
                        <label for="" class="h5">Pays :<span style="color: red;">*</span></label>
                        {{ form_row(form.pays, {'attr': {'class': 'is-invalid formvalidate'}}) }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 row">
                        <label for="" class="h5">Tour, etc... :</label>
                        {{ form_row(form.tourEtc) }}
                    </div>
                    <div class="p-3 row">
                        <label for="" class="h5">Escalier, etc... :</label>
                        {{ form_row(form.escalierEtc) }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 row">
                        <label for="" class="h5">N° et voie :<span style="color: red;">*</span></label>
                        {{ form_row(form.numVoie, {'attr': {'class': 'is-invalid formvalidate'}}) }}
                    </div>
                    <div class="p-3 row">
                        <label for="" class="h5">Distribution :</label>
                        {{ form_row(form.distribution) }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 row">
                        <label for="" class="h5">Code postal :<span style="color: red;">*</span></label>
                            {{ form_row(form.cp, {'attr': {'class': 'is-invalid formvalidate'}}) }}
                    </div>
                    <div class="p-3 row">
                        <label for="" class="h5">Ville :<span style="color: red;">*</span></label>
                        {{ form_row(form.ville, {'attr': {'class': 'is-invalid formvalidate'}}) }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 p-0 d-flex justify-content-around">
                        <a class="btn btn-danger btn-lg me-3" href="{{ path('app_filiation_edit', {'id': filiation.id}) }}">
                            <img src="{{ asset('css/icons/arrow-left-short.svg') }}" alt="bouton retour" width="32" height="32">
                        Retour
                        </a>
                        <a href="{{ path('app_home') }}" class="btn btn-lg btn-cleo">
                            Reprendre ultérieurement
                        </a>
                        <button class="btn btn-success btn-lg me-3">
                            {{ button_label|default('Suivant') }}
                            <img src="{{ asset('css/icons/arrow-right-short.svg') }}" width="32" height="32">
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('/js/formconfirmation.js') }}"></script>
<script src="{{ asset('/js/contrainteCodePostal.js') }}"></script>

