<h2>Nouvelle demande d’accès</h2>
<p>Bonjour,</p>
<p>Une action vient d’être réalisée sur une demande d’accès.</p>
<p>N° Demande : {{ stepData.stepNumber }}</p>
<p>Employé : {{ nameGuesser.guessName(user.email)|upper }}</p>
<p>Entreprise : {{ stepData.getInternalData('person_step_one', 'company_name') }}</p>
<p>Date : {{ stepData.getInternalData('person_step_one', 'request_date')|date('d/m/Y') }}</p>
<p>Nouveau status de la demande : {{ stepData.status|trans }}</p>
<p>Cordialement,<br>Cleo</p>
