<nav class="navbar navbar-expand-lg bg-cleo">
    <div class="container-fluid">
        <a href="{{ path('app_admin_dashboard') }}">
            <img  src="{{ asset('/img/logo.png') }}" alt="" width="120" height="65">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_user_index') }}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_admin_dashboard_demande') }}">Demandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_produit_index') }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_admin_dashboard_history') }}">Historique de connexion</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_mail_appli_index') }}">Gestion des emails</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_admin_dashboard') }}">Tableau de bord</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active ms-4 fs-5 mt-1" href="{{ path('app_home') }}">Quitter la page d'administration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>