{% extends 'base.html.twig' %}

{% block title %}Mes Demandes | Fluxel{% endblock %}
{% block container %}
    <link rel="stylesheet" href="{{ asset('css/bootstrapTable.css') }}">
    <link rel="stylesheet" href="{{ asset('css/customContainer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tablefiltercontrol.css') }}">
    <div class="container-title"> Problèmes de carte</div>
    <div class="container-fluid">
        <table class="table"
               data-toggle="table"
               data-filter-control="true"
               data-search="false"
               data-click-to-select="true">
            <thead>
            <tr>
                <th data-field="nom" data-filter-control="input" data-sortable="true">Nom</th>
                <th data-field="prenom" data-filter-control="input" data-sortable="true">Prénom</th>
                <th data-field="date" data-filter-control="select" data-sortable="true">Date de Demande</th>
                <th data-field="status" data-filter-control="select" data-sortable="true">Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for probleme in problemeCarte %}
                <tr>
                    <td>{{ probleme.nom }}</td>
                    <td>{{ probleme.prenom }}</td>
                    <td>{{ probleme.getCreatedAt().format('d/m/Y') }}</td>
                    <td data-i18n="{{ probleme.getStatus() }}">{{ probleme.getStatus() }}</td>
                    <td class="d-flex">
                        <a href="{{ path('app_probleme_carte_edit', {'id': probleme.id}) }}" class="btn btn-primary bg-cleo btn-sm me-2">Voir</a>
                        <form method="post" action="{{ path('app_probleme_carte_delete', {'id': probleme.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ probleme.id) }}">
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="5" class="text-center">Aucune demande trouvée.</td></tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center my-4">
            <a class="btn btn-danger btn-lg mx-2" href="{{ path('app_home') }}">Retour à l'accueil</a>
            <a class="btn btn-cleo btn-lg mx-2" href="{{ path('app_probleme_carte_new') }}">Signaler un problème</a>
        </div>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-table.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-table-filter-control.min.js') }}"></script>
        <script src="{{ asset('js/mesDemandesTabs.js') }}"></script>
        <script src="{{ asset('js/bootstrapTableFR.min.js') }}"></script>
    </div>
{% endblock %}


