{% extends 'base.html.twig' %}

{% block title %}AdresseFacturation{% endblock %}

{% block body %}
    <h1>AdresseFacturation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse_facturation.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ adresse_facturation.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ adresse_facturation.codePostal }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse_facturation.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adresse_facturation_index') }}">back to list</a>

    <a href="{{ path('app_adresse_facturation_edit', {'id': adresse_facturation.id}) }}">edit</a>

    {{ include('adresse_facturation/_delete_form.html.twig') }}
{% endblock %}
